{% load crispy_forms_tags %}

{% block content %}
<head>
        <style>
            textarea {
                top:0px;
                width: 91%;
                height: 165px;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                background-color: #f8f8f8;
                resize: none;
            }
        </style>
    </head>
<div class="card">
    <div class="card-header">
        <h5>Agregar Producto</h5>
    </div>

    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                   <div class="form-row">
                       <div class="form-group">
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    {{ form.nombre|as_crispy_field }}
                                </div>
                                <div class="form-group col-sm-12">
                        {{ form.marca|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-12">
                        {{ form.cantidad|as_crispy_field }}
                    </div>
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                       </div>
                   </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group col-sm-12">
                        {{ form.precio_venta|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-12">
                        {{ form.descripcion|as_crispy_field }}
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
