{% extends 'base.html' %}

{% block content %}
    <body>

    <div class="card" style="height: 100px">
      <div class="card-body">
        <form method="GET" action="">
          <div style="padding-left: 60px" class="form-row">
            <div class="form-group">
              <button type="submit" class="btn btn-outline-primary"><i style="padding-left: 10px" class="feather icon-search"></i></button>
            </div>
            <div class="col-md-10 form-group">
              <input class="form-control mb-4" type="text" name="nombre_producto" placeholder="Buscar">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="main-body">
        <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-sm-12">
                {% if menu_active == 'Busqueda Cliente' %}
                   {% include 'busqueda_cliente.html' %}
                {% elif menu_active == 'Busqueda Distribuidor' %}
                   {% include 'busqueda_distribuidor.html' %}
                {% elif menu_active == 'Busqueda Pedido' %}
                   {% include 'busqueda_pedido.html' %}
                {% elif menu_active == 'Busqueda Factura' %}
                   {% include 'busqueda_factura.html' %}
                {% endif %}

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modificar Cliente</h5>
                </div>
                <div class="modal-body">
                    <iframe id="iframe_edit" src="" style="height:200px;width:300px;"></iframe>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</body>

{% endblock content %}