{% load crispy_forms_tags %}

{% block content %}

<div class="card">
  <div class="card-header">
      {% if menu_active == 'Busqueda Factura' %}
        <h5>Tabla de Facturas</h5>
      {% endif %}
  </div>
  <div class="card-body">
    <table class="table align-items-center mb-0">
      <thead style="text-align: center">
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ID</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Total de pago</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha</th>
          <th class="text-secondary opacity-7"></th>
        </tr>
      </thead>
      <tbody style="text-align: center">
        {% for article in object_list %}
        <tr>
          <td>
            <h6 class="mb-0 text-sm">{{ article.nombre }} {{ article.apellido }}</h6>
            <p class="text-xs text-secondary mb-0">{{ article.id }}</p>
          </td>
          <td><p class="text-xs font-weight-bold mb-0">{{ article.totalPago }}</p></td>
          <td><p style="vertical-align: center" class="text-xs font-weight-bold mb-0">{{ article.telefono }}</p></td>
          <td><p class="text-xs font-weight-bold mb-0">{{ article.fecha|date:"d/M/Y"}}</p></td>
          <td><span class="text-secondary text-xs font-weight-bold">{{ article.direccion }}</span></td>
          <td><a id="edit{{article.id}}" href="" data-toggle="modal" data-target="#UpdateModal" class="text-secondary font-weight-bold text-xs">Editar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}