{% extends 'base.html' %}

{% block content %}

<div class="card" style="height: 100px">
    <div class="card-body">
      <form method="GET" action="">
        <div sftyle="padding-left: 60px" class="form-row">
          <div class="form-group">
            <button type="submit" class="btn btn-outline-primary"><i style="padding-left: 10px" class="feather icon-search"></i></button>
          </div>
          <div class="col-md-10 form-group">
            <input class="form-control mb-4" type="text" name="nombre_producto" placeholder="Search">
          </div>
        </div>
      </form>
    </div>
</div>

<div class="card">

    <div class="card-header">
        <h5>Productos</h5>
    </div>

    <div class="card-body">
        <table class="table align-items-center justify-content-center mb-0">
            <thead style="text-align: center">
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Producto</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Precio</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Descricion</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Cantidad</th>
                <th></th>
              </tr>
            </thead>
            <tbody style="text-align: center">
                {% for article in object_list %}
                <tr>
                  <td>
                    {{ article.nombre|upper}}
                  </td>
                  <td>
                    ${{ article.precio_venta|upper}}
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center">
                      {{ article.descripcion|upper}}
                    </div>
                  </td>
                  <td class="align-middle">
                    <input id="cantidad" value="0" type="number" class ="form_control"  name="quantity" min="1" max="10">
                  </td>
                    <td class="align-middle">
                    <a id = "agregar_producto" class="btn btn-light">Agregar</a>
                  </td>
                </tr>

                <script>
                     $("#agregar_producto").click(function() {
                        window.alert("Se ingreso su producto al carrito adecuadamente");
                        var token = '{{csrf_token}}';
                        var formData = new FormData();
                        formData.append('cantidad',$('#cantidad').val());
                        $.ajax({
                            headers: { "X-CSRFToken": token },
                            url: "{% url 'add-carrito' carrito_id article.id %}" ,
                            dataType: 'text', // what to expect back from the server
                            cache: false,
                            contentType: false,
                            processData: false,
                            data: formData,
                            type: 'post',
                            success: function (response) {

                            },
                            error: function (response) {
                            }
                        });
                     })
                </script>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}