{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<head>
    <style>
        .center {
          text-align: center;
        }

        button {}
    </style>
</head>

<div class="card">
    <div class="card-header">
        <h5>Productos</h5>
    </div>

    <div class="card-body">
        <table class="table align-items-center justify-content-center mb-0">
            <thead class="center">
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Producto</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Precio</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tipo</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Descripcion</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Cantidad</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="center">
                {% for article in object_list %}
                <tr>
                  <td>
                    {{ article.nombre|upper}}
                  </td>
                  <td>
                    ${{ article.precio_venta|upper}}
                  </td>
                  <td>
                    {{ article.tipo|upper}}
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center">
                      {{ article.descripcion|upper}}
                    </div>
                  </td>
                    <td class="align-middle">

                  </td>
                  <td class="align-middle">
                        <button type="button" class="btn btn-square btn-light">Quitar</button>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><hr>
        <div class="col-md-12" style="text-align: right">
            <p>Sub Total: </p>
            <p>ITBIS: </p>
            <p>Total: </p>
        </div>
    </div>
</div>

<div style="text-align: center">
    <button style="width:400px;" type="button" class="btn btn-square btn-primary">Cotizar</button>
    <button style="width:400px;" type="button" class="btn btn-square btn-success">Facturar</button>
</div>


{% endblock content %}
