{% extends 'base.html' %}

{% block content %}

<head>
        <style>
            input {
                align-content: center;
                width: 80px;
                height: 30px;
                text-align: left;
                margin: 8px 0;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                background-color: #f8f8f8;
                resize: none;
            }
        </style>
    </head>

<div class="card" style="height: 100px">
    <div class="card-body">
      <form method="GET" action="">
        <div sftyle="padding-left: 60px" class="form-row">
          <div class="form-group">
            <button type="submit" class="btn btn-outline-primary"><i style="padding-left: 10px" class="feather icon-search"></i></button>
          </div>
          <div class="col-md-10 form-group">
            <input class="form-control mb-4" type="text" name="nombre_producto" placeholder="Search">
          </div>
        </div>
      </form>
    </div>
</div>

<div class="card">

    <div class="card-header">
        <h5>Productos</h5>
    </div>

    <div class="card-body">
        <table class="table align-items-center justify-content-center mb-0">
            <thead style="text-align: center">
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Producto</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Precio</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Descricion</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Cantidad</th>
                <th></th>
              </tr>
            </thead>
            <tbody style="text-align: center">
                {% for article in object_list %}
                <tr>
                  <td>
                    {{ article.nombre|upper}}
                  </td>
                  <td>
                    ${{ article.precio_venta|upper}}
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center">
                      {{ article.descripcion|upper}}
                    </div>
                  </td>
                  <td class="align-middle">
                    <input id="cantidad{{article.id}}" style="text-align: center" value="1" type="number" class ="form_control"  name="quantity" min="1" max="10">
                  </td>
                    <td class="align-middle">
                        {% if article.cantidad %}<a data-toggle="modal"  data-target="#AgregarProductoModal{{article.id}}" class="btn btn-light">Agregar</a>{% else %}<p style="color: red">No hay stock disponible</p>{% endif %}
                  </td>
                </tr>

                <div class="modal fade" id="AgregarProductoModal{{article.id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div align="right" style="text-align: center;" class="modal-header">
                                <a  style="cursor: pointer;text-align: right" data-dismiss="modal" style="float:right;">Cerrar</a>
                            </div>
                            <div style="text-align: center;" class="modal-body">
                                <br>
                                <h6>¿Cual fue el precio de compra del producto?</h6>
                                <input id="precio{{article.id}}" type="number" value="0"><br>
                                <button id = "agregar_producto{{article.id}}"  class="btn btn-success">Confirmar</button>
                                <br>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <script>
                     $("#agregar_producto{{article.id}}").click(function() {
                        window.alert("Se ingreso su producto al carrito adecuadamente");
                        var token = '{{csrf_token}}';
                        var formData = new FormData();
                        formData.append('cantidad',$('#cantidad{{article.id}}').val());
                        formData.append('precio',$('#precio{{article.id}}').val());
                        $.ajax({
                            headers: { "X-CSRFToken": token },
                            url: "{% url 'add-carrito-orden-compra' carrito_id article.id %}" ,
                            dataType: 'text', // what to expect back from the server
                            cache: false,
                            contentType: false,
                            processData: false,
                            data: formData,
                            type: 'post',
                            success: function (response) {
                            },
                            error: function (response) {
                                $('#cantidad{{article.id}}').val(0)
                            }
                        });
                     })
                </script>
                {% endfor %}

            </tbody>
        </table>
         <div class="card-footer">
            <div align="center"><a href="{% url 'ordencompra-formulario' carrito_id distribuidor_id %}" class="btn btn-success">Continuar</a></div>
        </div>
    </div>
</div>

{% endblock content %}