{% extends 'base.html' %}

{% block content %}
<div class="card" style="height: 100px">
    <div class="card-body">
      <form method="GET" action="">
        <div sftyle="padding-left: 60px" class="form-row">
          <div class="form-group">
            <button type="submit" class="btn btn-outline-primary"><i style="padding-left: 10px" class="feather icon-search"></i></button>
          </div>
          <div class="col-md-10 form-group">
            <input class="form-control mb-4" type="text" name="nombre_producto" placeholder="Search">
          </div>
        </div>
      </form>
    </div>
</div>

<div class="card">

    <div class="card-header">
        <h5>Productos</h5>
    </div>

    <div class="card-body">
        <table class="table align-items-center justify-content-center mb-0">
            <thead style="text-align: center">
              <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Código</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nombre</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Precio</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Cantidad</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Registrado Por</th>
                <th></th>
              </tr>
            </thead>
            <tbody style="text-align: center">
                {% for article in object_list %}
                <tr>
                    <td>
                    {{ article.codigo|upper}}
                  </td>
                  <td width="20%">
                    {{ article.nombre|upper}}
                  </td>
                  <td>
                    ${{ article.precio_venta|upper}}
                  </td>
                    <td class="align-middle">
                    <div class="d-flex align-items-center justify-content-center">
                      {{ article.producto_str|upper}}
                    </div>
                  </td>
                  <td width="10%" class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center">
                      {{ article.registrado_por|upper}}
                    </div>
                  </td>
                    <td><a id="edit{{article.id}}" href="{% url 'editar-producto' article.id %}" class="text-secondary font-weight-bold text-xs">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if object_list %}
        {% else %}
        <br>
        <p align="center">No se ha encontrado resultado. ¿Desea agregarlo?</p>

        {% endif %}
        <br>
        <a href="{% url 'agregar-producto' %}" class="btn btn btn-outline-info btn-block" >Agregar</a>
    </div>
</div>

{% endblock content %}