{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="card" style="height: 100px">
  <div class="card-body">
    <form method="GET" action="">
      <div style="padding-left: 60px" class="form-row">
        <div class="form-group">
          <button type="submit" class="btn btn-outline-primary"><i style="padding-left: 10px" class="feather icon-search"></i></button>
        </div>
        <div class="col-md-10 form-group">
          <input class="form-control mb-4" type="text" name="nombre_producto" placeholder="Buscar">
        </div>
      </div>
    </form>
  </div>
</div>

<div><a href="{% url 'agregar-producto' %}" class="btn btn btn-primary btn-block" >Agregar Orden de Compra</a></div>
<br>
<div class="card">
    <div class="card-header">
        <h5>Orden de Compra</h5>
    </div>

            <div class="card-body">

            </div>
        </form>
    </div>
    </div>

{% endblock %}