{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="card" style="height: 100px">
  <div class="card-body">
    <form method="GET" action="">
      <div style="padding-left: 60px" class="form-row">
        <div class="form-group">
          <button type="submit" class="btn btn-outline-primary"><i style="padding-left: 10px" class="feather icon-search"></i></button>
        </div>
        <div class="col-md-10 form-group">
          <input class="form-control mb-4" type="text" name="nombre_producto" placeholder="Buscar">
        </div>
      </div>
    </form>
  </div>
</div>

<div><a href="{% url 'filtrar-distribuidor'  %}" class="btn btn btn-primary btn-block" >Agregar Orden de Compra</a></div>
<br>
<div class="card">
    <div class="card-header">
        <h5>Orden de Compra</h5>
    </div>
    <div class="card-body">
        <table  class="table align-items-center mb-0">
            <thead align="center">
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Codigo</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Distribuidor</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha Pedido</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Estado</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Registrado por</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                </tr>
            </thead>
            <tbody align="center">
                {% for article in object_list %}
                     <tr {% if article.estado == 1 %} style="cursor: pointer;" data-toggle="modal"  data-target="#ClickModal{{article.id}}"{% endif %}>
                          <td><p class="text-xs font-weight-bold mb-0">{{ article.codigo}}</p></td>
                          <td data-toggle="modal" data-target="#InfoDistribuidor{{article.distribuidor.id}}" style="cursor: pointer">
                            <h6 class="mb-0 text-sm">{{ article.distribuidor.nombre }}</h6>
                            <p class="text-xs text-secondary mb-0">{{ article.distribuidor.correo }}</p>
                          </td>
                          <td><p class="text-xs font-weight-bold mb-0">{{ article.fecha_pedido|date:"d/M/Y"}}</p></td>
                          <td><p class="text-xs font-weight-bold mb-0"></p>{{article.orden_compra_str}}</td>
                          <td><p class="text-xs font-weight-bold mb-0">{{ article.recibido_por }}</p></td>

                         <td><a href="#" {% if article.estado == 0 %}data-toggle="modal" data-target="#MasOpcionesModal{{article.id}}"{% endif %} class="text-secondary font-weight-bold text-xs">Mas Opciones</a></td>
                     </tr>

                    <div class="modal fade" id="MasOpcionesModal{{article.id}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 style="padding-top: 5px;cursor: pointer" data-dismiss="modal">Volver</h6>
                                </div>
                                <div style="text-align: center;" class="modal-body">
                                    <br>
                                    <h6>Seleccione una de las siguientes opciones</h6>
                                    <br>
                                        <a href="{% url 'cancel-ordenCompra' article.id user.id %}"  class="btn btn-light">Cancelar</a>
                                        <a href="{% url 'terminate-ordenCompra' article.id user.id %}" class="btn btn-light">Terminar</a>
                                    <br>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>

                    <div class="modal fade" id="InfoDistribuidor{{article.distribuidor.id}}" tabindex="-1" role="dialog">
                        <div  class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div style="text-align: center;" class="modal-body">
                                    {% with article.distribuidor as distribuidor %}
                                        {% include 'info_distribuidor.html' %}
                                    {% endwith %}
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




{% endblock %}