{% extends 'base.html' %}

{% block content %}

 <main>
    <!-- Section -->
    <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="https://appsrv1-147a1.kxcdn.com/pixel-lite-v400/img/pages/form-image.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">
                                <a href="https://appseed.us/django/django-pixel-bootstrap-uikit" target="_blank"></a>Seleccione un Tipo de Usuario<hr>
                            </h1>
                        </div>

                        <div style="padding-top:15px;padding-bottom: 15px" align="center" class="d-grid">
                            <a href='{% url "registrar-administrador" %}' style="width: 50%" type="button" name="login" class="btn btn-dark">Administrador</a>
                            <span style="padding-bottom: 100px"></span>
                            <a href='{% url "registrar-vendedor" %}' style="width: 50%" type="button" name="login" class="btn btn-dark">Vendedor</a>
                        </div>

                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <span class="fw-normal">
                                &copy; Themesberg - coded by
                                <a href="https://appseed.us" target="_blank"
                                   class="fw-bold text-underline">AppSeed</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}