{% load crispy_forms_tags %}

{% block content %}
<div class="card">

    <div class="card-header">
        <h5>Modificar Cliente</h5>
    </div>

    <div class="card-body" style="text-align: center">
    <table class="table align-items-center mb-0" style="text-align: center">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Género</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Teléfono</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha de Registro</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dirección</th>
          <th class="text-secondary opacity-7"></th>
        </tr>
      </thead>
      <tbody>
        {% for article in object_list %}
        <tr>
          <td>
            <div class="d-flex px-2 py-1">
              <div>
                <img width=70px" height="70px" src='https://w7.pngwing.com/pngs/549/437/png-transparent-camera-graphy-free-content-kamera-camera-lens-rectangle-black-thumbnail.png' class="avatar avatar-sm me-3" alt="user1">
              </div>
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm">{{ article.nombre }} {{ article.apellido }}</h6>
                <p class="text-xs text-secondary mb-0">{{ article.correo }}</p>
              </div>
            </div>
          </td>
          <td ><p class="text-xs font-weight-bold mb-0">{{ article.genero }}</p></td>
          <td style="vertical-align: center"><p style="vertical-align: center" class="text-xs font-weight-bold mb-0">{{ article.telefono }}</p></td>
          <td class="align-middle text-center text-sm"><p class="text-xs font-weight-bold mb-0">{{ article.fecha_nacimiento|date:"d/M/Y"}}</p></td>
          <td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">{{ article.direccion }}</span></td>
          <td class="text-nowrap"><a  style="color: #ffffff" class="btn btn-primary btn-sm" title="Editar" data-url="{% url 'editar-cliente' article.pk %}"  data-toggle="modal" data-target="#UpdateCliente" id="editButton{{article.id}}">Editar</a></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>


</div>

{% endblock %}