<!DOCTYPE html>
{% extends './base_registros.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<body>
    <main>
        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="https://appsrv1-147a1.kxcdn.com/pixel-lite-v400/img/pages/form-image.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    <a href="https://appseed.us/django/django-pixel-bootstrap-uikit" target="_blank"></a>Iniciar Sesión<hr>
                                </h1>
                            </div>

                             <form  action="" method="post" class="mt-4">
                                {% csrf_token %}
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Usuario</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><span class="fas fa-user"></span></span>
                                        <input type="text" name="username" placeholder="Usuario" class="form-control"  required id="id_username">
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Contraseña</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                            <input type="password" name="password" placeholder="Contraseña" class="form-control"  required id="id_password">
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div  class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="form-check mb-0">
                                            <input class="form-check-input" type="checkbox" value="" id="remember">
                                            <label class="form-check-label mb-0" for="remember">
                                              Recuerdame
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" name="login" class="btn btn-primary">Iniciar Sesion</button>
                                </div>
                                <br/>
                                <div align="center"><a style="font-size: 10px;padding-bottom: 20px" href="{% url 'registrar' %}">Registrar nuevo usuario</a></div>
                            </form>

                            <br/>

                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    &copy; Themesberg - coded by
                                    <a href="https://appseed.us" target="_blank"
                                       class="fw-bold text-underline">AppSeed</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
{% endblock content %}